{% extends "layout.html" %}
{% block content %}  
    <h2>List New Item</h2>

    <form action="#" method="post">
        <input type="hidden" name="category_id" value="{{ category_id }}">
        <input type="hidden" name="user_email" value="{{ session['email'] }}">
        <p>Title:</p>
            <input type="text" class="text-input" maxlength="250" name="title" required>
        <p>Description:</p>
            <textarea rows="5" class="text-input" maxlength="500" name="description"></textarea>
        <p>Price:</p>
            $ <input type="text" pattern=".*\d+" size="10" maxlength="10" name="price" required>
        <br/><br/>

        <input type="submit" value="Submit">
        <input type="button" onclick="window.location.href='{{url_for('display_category', category_id = category_id)}}';" value="Cancel">
    </form>
{% endblock %}
